@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha:300,400,500,600,700&display=swap');
body{
  font-family: 'Rubik', sans-serif !important;
  /*color: #141F4E;*/
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
p{
  font-size: 24px !important;
  line-height: 1.3 !important;
}
h1,h2,h3,h4,h5,h6{
  width: 100%;
  display: block;
}
h5{
  font-size: 20px !important;
}
.main-container{
  padding: 0px;
  margin: 0px auto;

}
.center{
  text-align: center;
}
.right{
  text-align: right;
  float: right;
}
.center-align{
  text-align: center;
  display: block;
  width: 100%;
}
.left-align{
  text-align: left;
  display: block;
  width: 100%;
}
div .turbo{
  text-align: left;
  font-weight: 450;
}
.pl1{padding-left: 10px;}
.pl2{padding-left: 20px;}
.pl3{padding-left: 30px;}

.mt-20{margin-top: -200px !important;}
.mt-10{margin-top: -100px !important;}
.mt-8{margin-top: -80px !important;}
.mt-5{margin-top: -50px !important;}
.mt--5{margin-top: -50px !important;}
.mt-1{margin-top: -10px;}
.mt1{margin-top: 10px;}
.mt2{margin-top: 20px;}
.mt3{margin-top: 30px;}
.mt4{margin-top: 40px;}
.mt5{margin-top: 50px;}
.mt6{margin-top: 60px;}
.mt7{margin-top: 70px;}
.mt8{margin-top: 80px;}
.mt9{margin-top: 90px;}
.mt10{margin-top: 100px;}
.mt15{margin-top: 150px;}

.mb1{margin-bottom: 10px;}
.mb2{margin-bottom: 20px;}
.mb3{margin-bottom: 30px;}
.mb4{margin-bottom: 40px;}
.mb5{margin-bottom: 50px;}

.b4{font-weight: 400;}
.b5{font-weight: 500;}
.b6{font-weight: 600;}
.b7{font-weight: 700;}
.b8{font-weight: 700;}
.b9{font-weight: 700;}

.white{color: #fff;}
.black{color: #000;}
.red{color: #f00;}
.purple{color: #45007f;}
.green{color: #009933;}
.yellow{color: #ffcc00;}
.grey{color: #666666;}
.darkgrey{color: #333;}
.theme-color{color: #295290;}

.img20 img{
  width: 20%;
}
.img30 img{
  width: 30%;
}
.img40 img{
  width: 40%;
}
.img50 img{
  width: 50%;
}
.img60 img{
  width: 60%;
}
.img70 img{
  width: 70%;
}
.img80 img{
  width: 80%;
}
.img90 img{
  width: 90%;
}
.img100 img{
  width: 100%;
}
.shadow{
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
}
.br-15{
  border-radius: 15px;
}

.heading1{
  display: block;
  width: 100%;
  font-size: 40px;
}
.headingl{
  font-size: 45px;
}
.t300{
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
}
.top-bar{
  background-color: #BDC3C7;
  display: block;
  /*padding: 10px;*/
   font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid #E74C3C;
  border-top: 2px solid #E74C3C;
}
.red-patti{
  display: inline-block;
  background: #af0909;
  width: 100%;
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.section1{
  background: url('https://stocknation3.imgix.net/join/images/bg1.png') repeat 0 0 / cover;
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  background-position: center;
}
.section1a{
  background: #fff;
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
  background-position: center;
}
.box-bg{
  background: url('https://stocknation3.imgix.net/join/images/boxbg.png') repeat 0 0 / cover;
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  background-position: center;
  height: 600px;
}
.section2{
  display: block;
  padding: 50px 0px;
}
.section3{
  background: url(https://stocknation3.imgix.net/join/images/bg1a.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 50px 0px;
}
.section4{
    display: block;
  padding: 30px 0px;
}
.section4a{
  background: url(https://stocknation3.imgix.net/join/images/bg2a.png) repeat 0 0 / cover;
  background-position: center;
    display: block;
  padding: 30px 0px;
}
.section5{
  background: url(https://stocknation3.imgix.net/join/images/bg3a.png) repeat 0 0 / cover;
  background-position: center;
    display: block;
  padding: 50px 0px;
}
.section6{
  background: url(https://stocknation3.imgix.net/join/images/bg2.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
}
.section7{
  display: block;
  padding: 50px 0px;
}
.section8{
  background: url(https://stocknation3.imgix.net/join/images/bg4.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 50px 0px;
}
.section9{
  background: url(https://stocknation3.imgix.net/join/images/bg5.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 30px 0px;
}
.section10{
  background: url(https://stocknation3.imgix.net/join/images/bg6.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 50px 0px;
}
.section11{
  display: block;
  padding: 30px 0px;
}
.section11a{
  background: #F0F0F0;
  display: block;
  padding: 50px 0px;
}
.section12{
  background: url(https://stocknation3.imgix.net/join/images/bg7.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 30px 0px;
}
.section13{
    background: url(https://stocknation3.imgix.net/join/images/bg4a.png) repeat 0 0 / cover;
  background-position: center;
  display: block;
  padding: 30px 0px;
}
.section14{
background: #333333;
  display: block;
  padding: 80px 0px;
}
.section15{
  background: url(https://stocknation3.imgix.net/join/images/bg8.png) repeat 0 0 /cover;
  background-position: center;
  display: block;
  padding: 30px 0px;  
}
.section16{
  background: url(https://stocknation3.imgix.net/join/images/bg9.png) repeat 0 0 /cover;
  background-position: center;
  display: block;
  padding: 30px 0px;  
}
.arrow-left{
      margin-top: -165px;
    margin-right: 50px;
}
.arrow-right{
      margin-top: -165px;
    margin-left: 50px;
}
.footer{
  background: #111235;
  display: block;
  padding-top: 10px;
  padding-bottom: 30px;  
}
.top-strip{
      background-color: #fff;
    width: auto;
    display: inline-block;
    padding: 6px 24px;
    font-size: 2px;
    font-weight: 500;
    border-radius: 180px;
       -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
}
.white-strip{
      background-color: #fff;
    width: auto;
    display: inline-block;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
       -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
}
.shadow{
   -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
}
.text-four img{
  width: 40%;
}
.green-icon-list1 li{
    line-height: 26px;
    list-style: none;
    font-size: 22px;
    font-weight: 400;
    background-image: url(https://stocknation3.imgix.net/join/images/green-bullet.png);
    background-repeat: no-repeat;
    background-position: 35px 18px;
    background-size: 20px;
    padding: 15px;
    padding-left: 70px;
    text-align: left;
    margin: -15px;
    margin-top: 10px;
}
.green-icon-list1 li.lpd{
    line-height: 1.2;
    padding:16px;
    padding-left:100px;
}
.green-icon-list1 li span{
  color: #ffcc00;
  font-weight: 500;
}
.green-icon-list li{
    line-height: 26px;
    list-style: none;
    font-size: 22px;
    font-weight: 400;
    background-image: url(https://stocknation3.imgix.net/join/images/green-bullet.png);
    background-repeat: no-repeat;
    background-position: 35px 18px;
    background-size: 20px;
    padding: 15px;
    padding-left: 70px;
    text-align: left;
    margin: -15px;
    /*margin-top: 15px;*/
}
.green-icon-list li.lpd{
    line-height: 1.2;
    padding:16px;
    padding-left:100px;
}
.border-text{
  display: inline-block;
  background: #295290;
  clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
  /*border-radius: 15px;*/
  padding: 10px 50px;
  font-size: 27px;
  font-weight: 500;
  color: #fff;
}
.blue-icon-list li{
    line-height: 26px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    background-image: url(https://stocknation3.imgix.net/join/images/blue-bullet.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;
    background-size: 20px;
    padding: 15px;
    padding-left: 42px;
    text-align: left;
    margin: -15px;
}
.blue-icon-list li.lpd{
    line-height: 1.2;
    padding:16px;
    padding-left:100px;
}
.icon-list li{
    line-height: 26px;
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: 10px 18px;
    padding: 20px;
    text-align: left;
    margin: -15px;
}
.icon-list li.lpd{
    line-height: 1.2;
    padding:16px;
    padding-left:100px;
}
.icon-list img{
    margin-right: 15px;
    height: 60px;
    width: 60px;
} 
.testimonial-img img{
  width: 80%;
  border-radius: 50%;
  border: 3px solid #F73B64;
}
.testimonial-block{
  background: #212121;
  color: #fff;
  padding: 20px 20px 5px 20px;
  /*font-family: open sans;*/
  font-size: 20px;
  font-weight: 400;
  border-radius: 20px;
}
.testimonial-name{
  color: #73787e;
  font-size: 22px;
  font-weight: 600;
}
.testimonial-box-img img{
  width: 40%;
  border-radius: 50%;
  border: 3px solid #F73B64;
}
.testimonial-box{
  background: #fff;
  text-align: center;
  padding: 20px 20px 20px 20px;
  box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
  /*font-family: open sans;*/
  font-size: 20px;
  font-weight: 400;
  border-radius: 20px;
}
.testimonial-box-name{
  /*color: #F73B64;*/
  font-size: 22px;
  font-weight: 600;
}
.team{
  border-radius: 50%;
}
.white-box{
  background: #fff;
  margin: 0px 70px 0px 70px;
    padding: 150px 70px 30px 50px;
}
.graphic1{
  margin-bottom: -190px;
}
.button-primary{ 
    display: inline-block;
    background: rgb(114,199,72);
background: linear-gradient(90deg, rgba(114,199,72,1) 46%, rgba(69,146,31,1) 72%);
    box-shadow: 0px 5px 0px 0px rgba(69,146,31,1);
-webkit-box-shadow: 0px 5px 0px 0px rgba(69,146,31,1);
-moz-box-shadow: 0px 5px 0px 0px rgba(69,146,31,1);
    padding: 19px 70px;
    font-size: 48px;
    text-shadow: 0px 0px 14px 6px rgba(0,0,0,0.24);
    line-height: 1;
    font-weight: 700;
    border-radius: 65px;
    margin: 20px 0px;
}
.button-primary:hover{
  text-decoration: none;
  transform: scale(1.02);
  color: #fff;
}
.option1{
    background-color: #295290;
    width: auto;
    display: inline-block;
    padding: 10px 32px;
    font-size: 30px;
    border-radius: 37px;
}
.option2{
    background-color: #f00;
    width: auto;
    display: inline-block;
    padding: 10px 32px;
    font-size: 30px;
    border-radius: 37px;
}
.option3{
    background-color: #51b320;
    width: auto;
    display: inline-block;
    padding: 10px 32px;
    font-size: 30px;
    border-radius: 37px;
}
.brand-cover{
  border-style: none;
  height: 77px !important;
  margin-top: 15px;
  padding: 13px;
     -webkit-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
-moz-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
}
.image-shadow{
       -webkit-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
-moz-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
}
.table-bg{
  background: #295290;
  height: 250px;
  padding-top: 50px;
}
.table-box{
  background: #fff;
  margin: -85px 40px 0px 40px;
    padding: 30px 20px 20px 0px;
}
.white-box1{
  width: 63%;
      margin-top: -125px;
    display: inline-block;
    background: #fff;
    padding: 30px 50px;
           -webkit-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
-moz-box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.24);
}
.faq-text{
  position: relative;
  margin-top: -52px;
  padding-left: 91px;
}
.footer_menu li{
list-style: none;
float: left;
margin-right: 5px; 
}

.footer_menu li a{
padding: 8px 5px;
}
.jvbutton img{
  width: 90%;
}
.logo{
  width: 70%;
}
.top-menu{
  display: inline-block;
}
.top-menu h5{
  display: inline;
  color: #fff;
  font-weight: 350;
}
.top-menu a{
  font-size: 15px;
}
.top-menu a:hover{
  color: #fff;
}

@media (max-width: 767px){
  .testimonial-block iframe{
  width: 100%;
  height: auto;
}
  .highlight1 span{
    font-size: 16px !important;
  }
  .section1 h3{
    font-size: 17px;
  }
.testimonial-box{
  margin-top: 30px;
}
.mt-res1{
  margin-top: 10px;
}
.testimonial-box-img img{
  width: 30%;
}
.box-bg{
  height: 160px;
}
.center-res{
  text-align: center;
}
  .logo{
    width: 50%;
  }
  .top-strip{
    font-size: 13px;
  }
  .heading1{
        font-size: 26px;
    font-weight: 600;
  }
  .text-four img{
    width: 80%;
  }
  .br-res br{
    display: none;
  }
  .video{
    height: 220px;
  }
  .green-icon-list li{
    font-size: 15px;
    padding-left: 60px;
    background-position: 30px 18px;
  }
  .table-box ul{
    padding-right: 20px;
  }
  .button-primary{
    font-size: 30px;
  }
  .h3-res{
    font-size: 15px;
  }
  .seal-res{
    width: 70%;
  }
  .testi-text{
    font-size: 15px !important;
  }
  .h2-res{
    font-size: 23px;
  }
  .image{
    width: 100%;
  }
  .bonus-text{
    text-align: center;
  }
  .bonus-text-1{
    text-align: center;
    margin-bottom: 30px;
  }
  .youtube-res{
    width: 50%;
  }
  .graphic2-res{
    margin-top: -30px;
  }
  .white-box1{
    margin-top: -60px;
    width: 100%;
  }
  .table-bg{
    margin-top: 20px;
  }
  .arrow{
    display: none;
  }
  .team{
    width: 35%;
  }
  h4{
    font-size: 16px;
  }
  p{
    font-size: 20px !important;
  }
  .graphic1{
    margin-bottom: -105px;
  }
  .white-box {
    margin: 0px 20px 0px 20px;
    padding: 110px 20px 30px 20px;
  }
  .blue-icon-list li{
    font-size: 15px;
    line-height: 22px;
  }
  .h3-res-head{
    font-size: 20px;
  }
  .h5-res{
    font-size: 15px;
  }
  .arrow-left{
    display: none;
  }
  .arrow-right{
    display: none;
  }
  .white-strip{
    font-size: 13px;
  }
  .white-strip br{
    display: none;
  }
  .faq-text {
    margin-top: -33px;
    padding-left: 39px;
  }
  .icon-list img{
    height: 40px;
    width: 40px;
    margin-left: -20px;
  }
  .icon-list li{
    font-size: 15px;
  }
  .section15 h3{
    font-size: 20px !important;
  }
  .border-text{
    font-size: 24px;
  }
  .t300{
    font-size: 100px !important;
  }
  .lg{
    display: none;
  }
  .sm{
    display: block;
  }
  .highlight-bg{
    padding: unset;
  }
  .highlight-list{
    font-size: 12px;
  }
  .green-bg{
    padding: unset;
  }
  .light-list{
    font-size: 12px;
  }
  .light-title{
    margin-top: 10px;
    font-size: 12px;
  }
  .green-bg-head{
    padding: unset;
  }
}

@media (max-width:991px) and (min-width: 768px){
  .logo{
    margin-top: 10px;
    width: 90%;
  }
  .highlight1 span{
    font-size: 18px !important;
  }
  .section1 h3{
    font-size: 18px;
  }
  .top-strip{
    font-size: 15px;
  }
  .heading1{
    font-size: 30px;
  }
  .video{
    height: 220px;
  }
   .green-icon-list li{
    font-size: 17px;
    padding-left: 30px;
    background-position: 0px 18px;
  }
  .seal-res{
    width: 60%;
  }
  .testi-text{
    font-size: 15px !important;
  }
  .h2-res{
    font-size: 20px;
  }
  h4{
    font-size: 17px;
  }
    .graphic1{
    margin-bottom: -130px;
  }
  .white-box {
    margin: 0px 20px 0px 20px;
    padding: 110px 20px 30px 20px;
  }
  .blue-icon-list li{
    font-size: 15px;
    line-height: 22px;
  }
  .h3-res-head{
    font-size: 20px;
  }
  .h5-res{
    font-size: 15px;
  }
    .arrow-left{
    display: none;
  }
  .arrow-right{
    display: none;
  }
  .white-strip{
    font-size: 13px;
  }
  .white-strip br{
    display: none;
  }
  .icon-list img {
    margin-right: 20px;
    height: 60px;
    width: 60px;
  }
  .icon-list li{
    font-size: 15px;
  }
  .h3-res{
    font-size: 18px;
  }
  .faq-text {
    margin-top: -33px;
    padding-left: 39px;
  }
}
@media (max-width:512px){
  .icon-list{
    margin-left: -25px;
  }
  .icon-list li{
    font-size: 12px;
  }
}